.flex {
    display: flex;
    gap:20px;
}

.yellow {
    background-color: rgb(255, 203, 0);
    color: black;
    padding: 5px 10px; 
    font-weight: 900;
    font-size: 25px;
    border-radius: 5px;
}

.blue {
    background-color:rgb(0, 123, 255);
    color: white;
    width: 55px;
    padding: 5px 10px;
    font-weight: 900;
    font-size: larger;
    border-radius: 5px;
}