
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: auto;
    border: 8px solid #7fd8e6;
    background-color: #ddf2f5;
    padding: 20px 300px;
   
}


@media (max-width : 720px) {

    .container {
        padding: 20px 100px;
    }
}

@media (max-width : 480px) {

    .container {
        padding: 10px 40px;
    }
}

